/* button cta */
:root {
  --transition: all 0.3s ease-in-out;
}

nav {
  z-index: 150;
  background-color: #3a9ff1;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  text-decoration: none;
}
nav ul li a {
  color: #bad3e7;
  transition: var(--transition);
}
nav ul li a:hover {
  text-decoration: none;
}

/* footer */
footer {
  color: #d5e3ee;
}
footer a {
  color: #d5e3ee;
  transition: var(--transition);
}
footer a:hover {
  text-decoration: none;
}

footer {
  background-color: #3a9ff1;
}
footer .rights {
  background-color: #304b61;
  width: 100% !important;
  text-align: center;
  padding: 5px 0;
  color: #bad3e7;
}

.footer-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* btn call to action */
.btn-cta {
  background-color: green !important;
}

.color-blue {
  color: green;
}

.main-header {
  text-align: center;
  color: #1a4ebd;
}
.main-header h2 {
  text-transform: uppercase;
  font-weight: 900;
}
.main-header p {
  padding: 0 150px;
  font-weight: 500;
}

.subtitle-deco {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 5rem;
  color: #3a9ff1;
}

.full-section {
  height: auto;
  min-height: 80vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}

.list-sec h3 {
  color: green;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  position: relative;
}

.main-banner .banner-content p {
  padding: 0 100px;
}

.banner-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  position: relative;
}
.banner-divider-text-color {
  color: #ffffff;
  z-index: 150;
}
.banner-content {
  padding: 0 50px;
  z-index: 10;
}

.banner-content p {
  padding: 0 100px;
}

.banner-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 32, 32, 0.726);
  z-index: 0;
}

.main-banner .banner-image-overlay {
  background-color: rgba(28, 32, 32, 0.287);
}

/* Programs List */

.programs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

/* Programs and stories */

.span-highlight {
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* stories */

.stories-list-img-containter {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories-list-containter-link {
  display: flex;
  transition: var(--transition);
  align-items: center;
  justify-content: center;
}

.stories-list-containter-link:hover {
  text-decoration: none;
  transform: scale(1.03);
}
.stories-list-img-containter img {
  width: 100%;
  border-left: 10px solid #3a9ff1;
}

/* .stories-list-img-containter img {
  width: 100%;
} */

.story-images-container img {
  width: 100%;
}

/* ============= RESPONSIVE STYLES ============= */
/* TODO: */
@media only screen and (max-width: 600px) {
  .banner-content p {
    padding: 0 300px;
  }
}
