nav {
  z-index: 150;
  background-color: var(--white);
}

.logo-brand {
  color: var(--dark-blue) !important;
}

.logo-img {
  width: 100px;
  transition: var(--transition);
}
.logo-img:hover {
  transform: scale(1.1);
}

.nav-active {
  color: var(--lighter-blue);
}
.nav-inactive {
  color: var(--dark-blue);
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0;
  text-decoration: none;
}
nav ul li a {
  color: var(--dark-blue);
  transition: var(--transition);
}
nav ul li a:hover {
  text-decoration: none;
  color: var(--lighter-blue);
}

a.drop-item {
  color: var(--dark-blue) !important;
}
a.drop-item:hover {
  color: var(--lighter-blue) !important;
}

.menu-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  justify-content: end !important;
  margin-right: -60%;
}

/* =========================== footer =========================== */
footer {
  height: auto;
  color: var(--dark-blue);
  background-color: var(--white);
}

footer a {
  color: var(--dark-blue);
  transition: var(--transition);
}
footer a:hover {
  color: var(--blue);
  text-decoration: none;
}

.footer-img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer .logo-img {
  width: 50%;
}

footer .rights {
  background-color: #304b61;
  width: 100% !important;
  text-align: center;
  padding: 5px 0;
  color: #bad3e7;
}

.footer-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .follow-icons:hover {
  color: var(--dark-blue);
}

/* =========================== header jumbo =========================== */

.jumbo-header {
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  margin-top: 125px;
  min-height: 70vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 500px;
  position: relative;
  z-index: 1;
  color: var(--white);
}

.flex-end-container {
padding-top: 200px;
z-index: 50;
}
.header-container {
  z-index: 50;
}

.jumbo-header h1 {
  font-size: 6rem !important;
  font-weight: bolder;
  color: var(--white);
  margin-bottom: 2rem;
  text-transform: capitalize;
  /* padding-right: 200px; */
}

.jumbo-header h3 {
  font-size: 100px !important;
  font-weight: bolder;
  color: var(--lighter-blue);
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.jumbo-header p {
  font-size: 1.5rem;
}

.banner-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  position: relative;
}

.banner {
  height: auto;
  min-height: 50vh;
  background-position: top center;
  width: 100%;
}
.banner p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 2.5px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(28, 32, 32, 0.356);
}

.banner-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
background-color: rgba(28, 32, 32, 0.726);
}

.title-clear { 
  font-size: 130px;
  font-weight: 900;
  text-transform: uppercase;
  color: #bad3e74e;
}

.subtitle-top {
margin-top: -90px;
}


/* ======================================= headers ======================================== */ 
.main-header {
  text-align: center;
  color: #1a4ebd;
}
.main-header h2 {
  font-weight: 900;
}
.main-header p {
  font-weight: 400;
}

.subtitle-deco {
  font-family: "Grape Nuts";
  font-size: 5rem;
  color: var(--lighter-blue);
  text-transform: capitalize;
}

.intro-section {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}

/* ==================================== Programs List ============================ */ 
.home-programs, .home-stories {
  margin: 150px 0;
}

.programs-section {
  height: auto;
}

.programs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.programs-list h4 {
  color: var(--dark-blue);
  text-align: center;
}

.program-icon {
  width: 64px;
  height: 64px;
}

/* Programs and stories */

.span-highlight {
  font-size: 26px;
}

/* =========================== stories =========================== */


.stories-list-img-container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 200px; */
  width: 100%;
  -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
}

.stories-list-container-link {
  display: flex;
  transition: var(--transition);
  align-items: center;
  justify-content: center;
}

.stories-list-container-link:hover {
  text-decoration: none;
  transform: scale(1.03);
}

/* =========================== story page =========================== */

.custom-shadow {
  -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
}

.story-side-image {
  width: 350px;
  margin: 0 0 20px 20px;
}

.facebook-feed {
  width: 100%;
  height: 100%;
}

/* =========================== donate =========================== */
.donate-section {
  background-color: var(--dark-blue);
  color: var(--white);
  margin-top: 6rem;
  height: auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background-color: rgba(51, 50, 50, 0.585);
  padding: 30px 20px;
}

.verse p {
  font-family: "Grape Nuts";
  font-size: 2rem;
}

.verse span {
  font-size: 12px;
}

.donate-banner .btn-cta {
  transition: var(--transition);
  background-color: #28a745!important;
  outline: none;
  color: var(--white)!important;
}

.donate-banner .btn-cta:hover {
  background-color: #1f8838 !important;
  transform: scale(1.1);

}

.donate-banner .btn-cta:focus, .jumbo-header .btn-cta:focus {
  outline: none;
}

/* =========================== btn call to action ====================== */

.btn-cta {
  background-color: var(--lighter-blue) !important;
  color: var(--dark-blue) !important;
  outline: none;
  transition: var(--transition);
}
.btn-cta:hover {
  background-color: var(--lighter-blue) !important;
  color: var(--white) !important;
}

/* =============================== Follow us =========================== */

.follow-section {
  height: auto;
  background-color: var(--dark-blue);
  color: var(--white);
}

.follow-header {
  color: var(--white);
}

.follow-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-icons {
  font-size: 3rem;
  color: var(--lighter-blue);
  transition: var(--transition);
}
.follow-icons:hover {
  font-size: 3rem;
  color: var(--white);
  transform: scale(1.2);
}

/* d-flex justify-content-center align-items-center follow-links */

.follow-icons i {
  font-size: 3rem;
}

/* ====================== Team member ======================= */

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about-img-container img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet-our-team-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.team-member-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  min-width: 250px;
  /* width: 250px; */
  max-width: 250px;
  height: 350px;
  min-height: 350px;
  text-align: center;
}
.team-member-card:hover img {
  transform: scale(1.2);
}

.team-member-image {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.team-member-image img {
  width: 100%;
  height: 100%;
  transition: var(--transition);
  /* border-radius: 50%; */
}

.team-member-card h5 {
  margin-top: 1.5rem;
}
.team-member-card p {
  margin-bottom: 0;
}

.volunteers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.volunteers-wrapper .volunteers {
  text-align: center;
}

/* =================================== Not Found Page ======================== */ 

.not-found-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  width: 100%;
  height: auto;
}
.not-found-img img{
  width: 100%;
}

.not-found-text  {
  width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5rem;
}

/* =================================== RESPONSIVE STYLES =============================== */

@media only screen and (max-width: 964px) {
  .jumbo-header {
    height: auto;
    min-height: 45vh;
  }
  .jumbo-header h1 {
    font-size: 4rem !important;
    font-weight: 900;
    padding-right: 100px;
  }

  .banner {
    height: auto;
    background-position: top center;
  }

  .jumbo-header h3,
  .banner h3 {
    font-size: 4rem !important;
  }

  .banner-divider-principal-text h2 {
    font-size: 3rem;
  }

  .banner-content p {
    padding: 0 300px;
  }

  .title-clear {
    font-size: 70px;
  }

    .subtitle-top {
      margin-top: -50px;
    }

    .home-programs, .home-stories {
      margin: 200px 0;
    }

        /* .team-member-card {
          max-width: 200px;
          min-height: 350px;
        }
    
        .team-member-image {
          width: 100%;
          height: 300px;
        } */
}


@media only screen and (max-width: 600px) {

.jumbo-header h1 {
    font-size: 4rem !important;
    font-weight: 900;
    padding-right: 100px;
  }
.jumbo-header h3, .banner h3 {
    font-size: 3rem !important;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .banner-divider-principal-text h2 {
    font-size: 3rem;
  }
  .banner-content p {
    padding: 0 300px;
  }

    .title-clear {
      font-size: 60px;
    }

    .subtitle-top {
      margin-top: -40px;
    }

    .home-programs,
    .home-stories {
      margin: 120px 0;
    }

    /* .team-member-card {
      max-width: 200px;
      min-height: 350px;
    }

    .team-member-image {
      width: 100%;
      height: 300px;
    } */
}


