nav {
  z-index: 150;
  background-color: var(--white);
}

.logo-brand {
  color: var(--dark-blue) !important;
}

.logo-img {
  width: 100px;
  transition: var(--transition);
}
.logo-img:hover {
  transform: scale(1.1);
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0;
  text-decoration: none;
}
nav ul li a {
  color: var(--dark-blue);
  transition: var(--transition);
}
nav ul li a:hover {
  text-decoration: none;
  color: var(--blue);
}

a.drop-item {
  color: var(--dark-blue) !important;
}
a.drop-item:hover {
  color: var(--blue) !important;
}

.menu-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  justify-content: end !important;
  margin-right: -60%;
}

/* footer */
footer {
  color: var(--dark-blue);
  background-color: var(--white);
}

footer a {
  color: var(--dark-blue);
  transition: var(--transition);
}
footer a:hover {
  color: var(--blue);
  text-decoration: none;
}

.footer-img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer .logo-img {
  width: 50%;
}

footer .rights {
  background-color: #304b61;
  width: 100% !important;
  text-align: center;
  padding: 5px 0;
  color: #bad3e7;
}

.footer-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* btn call to action */

.btn-cta {
  background-color: #00b7ff !important;
  color: var(--dark-blue) !important;
  outline: none;
  transition: var(--transition);
}
.btn-cta:hover {
  background-color: #00b7ff !important;
  color: var(--white) !important;
}

/* headers */
.main-header {
  text-align: center;
  color: #1a4ebd;
}
.main-header h2 {
  text-transform: uppercase;
  font-weight: 900;
}
.main-header p {
  font-weight: 400;
}

.subtitle-deco {
  font-family: "Crafty Girls";
  font-size: 5rem;
  color: #3a9ff1;
}

.intro-section {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}

.list-sec h3 {
  color: green;
}

/* banners */

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-banner h2 {
  text-shadow: 2px 5px var(--dark-blue);
}

.main-banner .banner-content p {
  padding: 0 100px;
}

.banner-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  position: relative;
}
.banner-divider h2 {
  text-shadow: 2px 5px var(--blue);
}
.banner-divider-principal-text {
  color: #ffffff;
  z-index: 50;
}
.banner-divider-principal-text h2 {
  font-family: "Crafty Girls";
  font-size: 4rem;
}

.banner-divider-principal-text p {
  font-size: 20px;
}

.banner-content {
  padding: 0 50px;
  z-index: 10;
}

.banner-content p {
  padding: 0 100px;
}

.banner-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 32, 32, 0.726);
  z-index: 0;
}

.main-banner .banner-image-overlay {
  background-color: rgba(28, 32, 32, 0.287);
}

/* Programs List */

.programs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

/* Programs and stories */

.span-highlight {
  font-size: 26px;
  font-family: "Crafty Girls";
}

/* stories */

.stories-list-img-containter {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories-list-containter-link {
  display: flex;
  transition: var(--transition);
  align-items: center;
  justify-content: center;
}

.stories-list-containter-link:hover {
  text-decoration: none;
  transform: scale(1.03);
}
.stories-list-img-containter img {
  width: 100%;
  border-left: 10px solid #3a9ff1;
}

/* .stories-list-img-containter img {
  width: 100%;
} */

.story-images-container img {
  width: 100%;
}

.facebook-feed {
  height: 100%;
}

/* donate */
.donate-section {
  background-color: var(--dark-blue);
  color: var(--white);
}

/*  */

/* ============= RESPONSIVE STYLES ============= */
/* TODO: */
@media only screen and (max-width: 600px) {
  .banner-content p {
    padding: 0 300px;
  }
}
